.App {
  text-align: center;
}

.header{
  border-bottom: 1px solid black;
  /* background-color: rgb(188, 188, 188); */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addCard{
  background-color: #ccc;
  border-radius: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  height: auto;
  width: 60%;
  padding: 20px;
}

.addbtn{
  align-self: flex-end;
  margin-right: 10px;
  
}

.addCard input {
  margin-bottom: 30px;
  width: 50%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addCard select {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  margin-bottom: 30px;
  height: 30px;
}
option{
  font-weight: bold;
}
.addCard label{
  margin-bottom: 5px;
  font-weight: bold;
}

.addcarddetails{
  display: flex;
}

.addcarddetails input{
  margin-right: 10px;
  width: 20%;
  margin-left: 10px;

}

.header h1 {
  margin: 0 20px;
}



button{
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #EE7023;
  color: white;
  border: 0px;
  margin: 0 10px;
  font-weight: bold;
}

 a {
  color: white;
  text-decoration: none;
}


.content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

h1{
  margin: 0px;
}

.Card{
  margin: 15px;
  background: rgb(0,0,0);
  background: linear-gradient(217deg, rgba(0,0,0,1) 0%, rgba(154,154,154,1) 100%);
  width: 500px;
  border-radius: 10px;
  height: 200px;
  color: white;
  padding: 5px;
  padding-bottom: 20px;
}

.cardbackground{
  background-color: rgb(215, 215, 215);
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}


.bankname{
  display: flex;
  width: 100%;
  height: 20%;
}
.bankname p {
  margin: 0;
  padding: 0;
  margin: 15px;
  font-weight: bold;
}

.cardnumber{
  height: 40% ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px
}

.carddetails{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.carddatailsdate{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.error{
  color: red;
  border: 1px solid red;
  /* border: 1px solid red; */
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 50px;
}
.Swedbank{
  background:  #EE7023;
  }

.SEB{
  background: rgb(128, 179, 53);
}

.Nordea{
  background:#014c86;

}

/* b, p{
  -webkit-text-stroke: 0.5px black;
  font-family: sans; color: white;

} */